@import "../../vars.scss";

.formMain {
  max-width: 1354px;
  margin: 100px auto 0;
  border-radius: 100px;
  box-shadow: 0 3px 30px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 100px;
  &__article {
    font-size: 25px;
    font-weight: bold;
    color: #ffa20e;
  }
  &__error-span {
    color: red;
    font-size: 16px;
    position: absolute;
    top: -15px;
  }
  &__form {
    margin-top: 100px;
    width: 100%;
    &-inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    &-input {
      width: 45%;
      border: none;
      font-weight: 500;
      padding: 20px 0;
      border-bottom: 2px solid #dbdbdb;
      margin-bottom: 80px;
      font-size: 30px;
      background-color: white;
      &-date {
        color: #b0b0b0;
        background-color: white;
        &:focus {
          color: black;
          background-color: white;
        }
      }
      &::placeholder {
        color: #757575;
        background-color: white;
      }
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    &-input {
      width: 45px;
      height: 45px;
    }
    &-label {
      font-size: 25px;
      color: #afafaf;
      margin-left: 30px;
    }
    &-link {
      color: #ffa20e;
      @include  transitionWebKitDuration;
      &:hover {
        color: #ffca38;
      }
    }
  }
  &__button {
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    width: 425px;
    height: 88px;
    border-radius: 40px;
    background-color: #0dd542;
    border: 1px solid #0dd542;
    text-align: center;
    line-height: 88px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    @include  transitionWebKitDuration;
    &:hover {
      color: #0dd542;
      background-color: white;
    }
  }
}

.disable-button {
  cursor: pointer;
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb;
  &:hover {
    color: white;
    background-color: #dbdbdb;
  }
}

.status-bar {
  position: relative;
  margin-top: 80px;
  width: 100%;
  &__line {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: #dbdbdb;
    &-inner {
      position: absolute;
      height: 8px;
      border-radius: 4px;
      background-color: #0dd542;
      @include  transitionWebKitDuration;
    }
    &-circle {
      position: absolute;
      right: -10px;
      top: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #0dd542;
    }
  }
}

input[type="date"]:before {
  color: #b0b0b0;
  content: attr(placeholder) !important;
}

input[type="date"]:focus:before {
  content: "" !important;
}

/*
input[type=date] {
  text-align: right;
  color: #b0b0b0;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}*/

@media screen and (max-width: 1400px) {
  .formMain {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1332px) {
  .formMain {
    padding: 80px 30px;
  }
}

.react-date-picker__wrapper {
  border: none !important ;
}

.calendar {
  width: 45%;
  border: none;
  font-weight: 500;
  padding: 20px 0;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 80px;
  background-color: white;
  font-size: 30px;
  color: #757575;
}

@media screen and (max-width: 1132px) {
  .formMain {
    margin-bottom: 20px;
    &__article {
      text-align: center;
      font-size: 18px;
    }
    &__form {
      margin-top: 20px;
      &-inner {
        flex-direction: column;
        align-items: center;
      }
      &-input,
      .calendar {
        width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
    &__button {
      width: 100%;
    }
    &__checkbox {
      display: flex;
      align-items: center;
      flex-direction: column;
      &-input {
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
      }
      &-label {
        font-size: 18px;
        margin-left: 0;
      }
    }
  }
  .react-date-picker__wrapper {
    border: none !important ;
  }
}

@media screen and (max-width: 600px) {
  .formMain {
    border-radius: 50px;
  }
}

.phoneInput-div {
  width: 45% !important;
  border-bottom: 2px solid #dbdbdb;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.react-tel-input .form-control {
  width: 100% !important;
  font-size: 24px !important;
}

.phoneInput {
  margin-bottom: 15px;
}

.phoneInput-inner {
  background-color: rgba(148, 253, 88, 0.8) !important;
  border: 1px solid rgba(148, 253, 88, 0.8) !important;
}

.react-tel-input .flag-dropdown.invalid-number {
  border: 1px solid rgba(189, 189, 189, 0.7) !important;
}

@media screen and (max-width: 1132px) {
  .phoneInput-div {
    width: 100% !important;
    margin-bottom: 50px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 400px) {
  .react-tel-input .form-control {
    font-size: 14px !important;
  }
}
