@mixin transitionWebKitDuration {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@mixin flexWebKit {
  display: flex;
  display: -webkit-flex;
}

@mixin flexDirectionWebKit {
  -webkit-flex-direction: column;
  flex-direction: column;
}
