@import "../../vars.scss";

.methodsCards {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f5f9;
  padding-top: 60px;
  padding-bottom: 90px;
  &__article {
    font-size: 70px;
  }
  &__cards {
    display: flex;
    width: 70%;
    margin-top: 50px;
    justify-content: space-between;
  }
  &__card {
    width: 350px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 1px 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    @include transitionWebKitDuration;
    &:hover {
      transform: scale(1.05);
    }
    & img {
      margin-bottom: 30px;
      width: 105px;
    }
    & span {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1680px) {
  .methodsCards {
    &__card {
      margin-right: 10px;
      padding: 20px;
    }
  }
}

@media screen and (max-width: 935px) {
  .methodsCards {
    &__article {
      font-size: 50px;
    }
    &__cards {
      width: 95%;
    }
    &__card {
      max-width: 280px;
      padding: 20px 10px;
      & img {
        width: 85px;
      }
    }
  }
}

@media screen and (max-width: 666px) {
  .methodsCards {
    padding-top: 40px;
    padding-bottom: 30px;
    &__article {
      font-size: 22px;
    }
    &__cards {
      width: 95%;
    }
    &__card {
      max-width: 180px;
      padding: 20px 5px;
      & span {
        font-size: 10px;
      }
      & img {
        width: 85px;
        height: 80px;
      }
    }
  }
}
